# Tests
*.test
unit-tests.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Sam builds
.aws-sam/

#Environment vars
.envrc
.env

# Node
node_modules/

# Typescript
.tsbuildinfo

# OS
.DS_Store

# AWS CDK
packages/**/*.js
!packages/esbuild.config.js
!packages/jest.config.js
packages/**/*.d.ts
packages/.cdk.staging
packages.out/
packages/cdk.context.json

# Rust
target/